<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./../../../../public/css/views/shop/item.css">
  <title>Item | Funko Shop</title>
</head>
<body>
<%- include('./../partials/header') %>
  <main class="container"> <!-- INICIO MAIN -->
    <section>
      <article class="main__content">
        <picture class="card-item__cover">
          <img class="card-item__img--front" src="./../../../../public/img/star-wars/baby-yoda-1.webp" alt="Funko de baby yoda">
          <img class="card-item__img--back" src="./../../../../public/img/star-wars/baby-yoda-box.webp" alt="Funko de baby yoda en caja">
        </picture>
        <div>
          <p class="main-text__licence"><%= item.licence_name %></p>
          <h2 class="main-text__name"><%= item.product_name</h2>
          <p class="main-text__desc"><%= item.product_description %></p>
          <p class="main-text__price"><%= item.product_price%></p>
          <div class="main-form quantity--selector">
            <input class="main-form__input quantity--selector__input" disabled type="" name="items" id="items" placeholder="0">
            <div class="main-form__masmenos quantity-selector__buttons">
              <button class="main-form__mas add-btn cursores">+</button>
              <button class="main-form__menos substract-btn cursores">-</button>
            </div>
            <button class="main-form__add add-cart cursores">Agregar al carrito</button>
          </div>
          <p class="main-text__promo"><span class="main-text__method">Ver métodos de pago</span> - 3 CUOTAS SIN INTERÉS</p>
        </div>
      </article>
    </section>
    <section class="slider container glide">
      <h2 class="slider__title">PRODUCTOS RELACIONADOS</h2>
      <div class="glide__track" data-glide-el="track">
        <ul class="slider__items glide__slides">
          <li class="slider__item glide__slide">
            <article class="card-item">
              <a class="card-item__link" href="./item.html">
                <picture class="card-item__cover">
                  <span class="card-item__tag">nuevo</span>
                  <img class="card-item__img--front" src="./../../img/star-wars/trooper-1.webp" alt="Funko de trooper">
                  <img class="card-item__img--back" src="./../../img/star-wars/trooper-box.webp" alt="Funko de trooper en caja">
                </picture>
                <div class="card-item__content">
                  <p class="card-item__licence">STAR WARS</p>
                  <h4 class="card-item__name">STORMTROOPER LIGHTSABER</h4>
                  <p class="card-item__price">$ 1799,99</p>
                  <p class="card-item__promo">3 CUOTAS SIN INTERÉS</p>
                </div>
              </a>
            </article>
          </li>
          <li class="slider__item glide__slide">
            <article>
              <a href="./item.html">
                <picture class="card-item__cover">
                  <span class="card-item__tag">nuevo</span>
                  <img class="card-item__img--front" src="./../../img/pokemon/pidgeotto-1.webp" alt="Funko de pidgeotto">
                  <img class="card-item__img--back" src="./../../img/pokemon/pidgeotto-box.webp" alt="Funko de pidgeotto en caja">
                </picture>
                <div class="card-item__content">
                  <p class="card-item__licence">POKEMON</p>
                  <h4 class="card-item__name">PIDGEOTTO</h4>
                  <p class="card-item__price">$ 1799,99</p>
                  <p class="card-item__promo">3 CUOTAS SIN INTERÉS</p>
                </div>
              </a>
            </article>
          </li>
          <li class="slider__item glide__slide">
            <article>
              <a href="./item.html">
                <picture class="card-item__cover">
                  <span class="card-item__tag">nuevo</span>
                  <img class="card-item__img--front" src="./../../img/harry-potter/luna-1.webp" alt="Funko de luna lovegood">
                  <img class="card-item__img--back" src="./../../img/harry-potter/luna-box.webp" alt="Funko de luna lovegood en caja">
                </picture>
                <div class="card-item__content">
                  <p class="card-item__licence">HARRY POTTER</p>
                  <h4 class="card-item__name">LUNA LOVEGOOD LION MASK</h4>
                  <p class="card-item__price">$ 1799,99</p>
                  <p class="card-item__promo">3 CUOTAS SIN INTERÉS</p>
                </div>
              </a>
            </article>
          </li>
        </ul>
      </div>
      <div class="glide__arrows" data-glide-el="controls">
        <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><iconify-icon class="arrow-icon" icon="material-symbols:chevron-left"></iconify-icon></button>
        <button class="glide__arrow glide__arrow--right" data-glide-dir=">"><iconify-icon class="arrow-icon" icon="material-symbols:chevron-right"></iconify-icon></button>
      </div>
    </section>
  </main> <!-- FIN MAIN -->
<%- include('../partials/footer') %>
<script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
  <script src="./../../../../public/js/glide.js"></script>
  <script src="./../../../../public/js/items.js"></script>
</body>
</html>