<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.iconify.design/iconify-icon/1.0.8/iconify-icon.min.js"></script>
    <link rel="stylesheet" href="/css/views/admin/admin.css">
    <title>Admin | Funko Shop</title>
</head>
<body class="admin_body contenido">
<%- include('./../../partials/header-german') %>
      <main class="admin_main">
        <section class="admin_section">
            <div class="admin_section_search">
                <span class="lupa"></span>
                <input class="input-search" type="text" placeholder="código, nombre o categoria">
            </div>
            <div class="list_header">
                <h1>LISTADO DE PRODUCTOS</h1>
                <div class="list_header_add">
                    <h3>AGREGAR</h3>
                    <a class="add" href="/admin/create"></a>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Código</th>
                        <th>Nombre del Producto</th>
                        <th>Categoria</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <% products.forEach(product => { %>
                <tbody>
                    <tr class="">
                        <td><%= product.product_id %></td>
                        <td><%= product.sku %></td>
                        <td><%= product.product_name %></td>
                        <td><%= product.category_name %></td>
                        <td class=""><a class="edit" href="/admin/edit/<%= product.product_id %>"></a></td>
                        <form  method="post" action="/admin/delete/<%= product.product_id %>?_method=DELETE" enctype="application/x-www-form-urlencoded">
                          <td><button type="submit" class="delete"></button></td>
                        </form>
                    </tr>
                </tbody>
                <% }); %>
            </table>
        </section>
      </main>
<%- include('./../../partials/footer-german') %>
</body>
</html>