<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.iconify.design/iconify-icon/1.0.8/iconify-icon.min.js"></script>
    <link rel="stylesheet" href="/css/views/admin/create.css">
    <title>Admin | Create | Funko Shop</title>
</head>
<body class="create_body contenido">
<%- include('./../../partials/header-german') %>
      <main class="create_main">
        <section class="create_section">
            <h1>CREAR NUEVO ITEM</h1>
            <form method="POST" action="/admin/create">
                <div class="create_form_top">
                    <div>
                        <label for="">Categoria:</label>
                        <select class="disabled" name="" id="">
                            <option class="disabled" value="" disabled selected hidden>Seleccionar</option>
                            <% categories.forEach((category,i)=>{ %>
                              <option value="<%= i+1%>"><%= category.category_name%></option>
                            <% }); %>
                        </select>
                    </div>
                    <div>
                        <label for="">Licencia:</label>
                        <select name="" id="">
                            <option value="" disabled selected hidden>Seleccionar</option>
                            <% licences.forEach((licence,i)=>{ %>
                              <option value="<%= i+1 %>"><%= licence.licence_name%></option>
                            <% }); %>
                        </select>
                    </div>
                </div>
                <div class="create_form_middle">
                    <label for="">Nombre del producto:</label>
                    <input type="text" name="name" id="name" placeholder="Kakashi Hatake Shippuden Saga" required>
                </div>
                <textarea name="description" id="description" cols="30" rows="30" placeholder="Descripción del producto" required></textarea>
                <div class="create_form_bottom">
                  <div class="sku">
                    <label for="">SKU:</label>
                    <input type="text" placeholder="SSK111AB001">
                  </div>
                  <div class="precio">
                    <label for="">Precio:</label>
                    <input type="text" placeholder="$ 0.000,00">
                  </div>
                  <div class="stock">
                    <label for="">Stock:</label>
                    <input type="text" placeholder="0">
                  </div>
                </div>
                <div class="create_form_bottom">
                    <div class="descuento">
                        <label for="">Descuento:</label>
                        <input type="text" placeholder="0%">
                    </div>
                    <div class="cuotas">
                        <label for="">Cuotas:</label>
                        <select name="" id="">
                            <option value="0">Sin cuotas</option>
                            <option value="3">3 cuotas s/ interés</option>
                            <option value="6">6 cuotas s/ interés</option>
                            <option value="9">9 cuotas s/ interés</option>
                            <option value="12">12 cuotas s/ interés</option>
                            <option value="18">18 cuotas s/ interés</option>
                            <option value="24">24 cuotas s/ interés</option>
                        </select>
                    </div>
                </div>
                <div class="create_form_bottom">
                    <label for="">Imágenes:</label>
                    <input class="file" type="file" multiple>
                </div>
                <div class="create_form_bottom">
                    <button type="submit">Agregar Producto</button>
                    <button type="button">Limpiar</button>
                </div>
            </form>
        </section>
      </main>
  <%- include('./../../partials/footer-german') %>
</body>
</html>